

/// @access private
@mixin _visibility-display(){
  display: initial !important;
  &.block{
    display:block !important;
  }
  &.inline{
    display:inline !important;
  }
  &.flex{
    display:-webkit-flex !important;
    display:flex !important
  }
}

/// visibility classes
/// @access public
/// @require {Mixin} _visibility-display -  display properties mixin
/// @example
///   <div class="hide-for-medium-down"></div>
///   <div class="show-for-medium-up flex"></div>
@mixin mixins-visibility(){
  .hide-for-desktop,
  .hide-for-large,
  .hide-for-large-down,
  .hide-for-x-large,
  .show-for-x-large,
  .show-for-large-up,
  .show-for-large-down,
  .show-for-phone,
  .show-for-small,
  .hide-for-tablet-up,
  .hide-for-medium-up
  .show-for-tablet-down,
  .show-for-medium-down,
  .show-for-tablet,
  .show-for-medium,
  .show-for-touch {
    display: none !important
  }

  .show-for-tablet,
  .show-for-medium,
  .show-for-tablet-up,
  .show-for-medium-up
  .show-for-desktop,
  .show-for-large{
    @include _visibility-display();
  }

  .hide-for-touch,
  .hide-for-phone,
  .hide-for-small,
  .hide-for-tablet-down,
  .hide-for-medium-down{

  }


  @include phone-content(){
    .show-for-phone,
    .show-for-small,
    .show-for-tablet-down,
    .show-for-large-down,
    .show-for-medium-down{
      @include _visibility-display();
    }

    .hide-for-tablet-down,
    .hide-for-medium-down,
    .show-for-tablet,
    .show-for-medium,
    .show-for-tablet-up,
    .show-for-medium-up,
    .show-for-desktop,
    .show-for-large{
      display: none !important;
    }

    .hide-for-tablet,
    .hide-for-medium,
    .hide-for-tablet-up,
    .hide-for-medium-up,
    .hide-for-desktop,
    .hide-for-x-large,
    .hide-for-large{
      @include _visibility-display();
    }

    .hide-for-phone,
    .hide-for-small{
      display: none !important;
    }

    .show-for-touch{
      @include _visibility-display();
    }
    .hide-for-touch{
      display: none !important;
    }
  }

  @include medium-content(){
    .show-for-phone,
    .show-for-small{
      display:none !important;
    }

    .hide-for-phone,
    .hide-for-small,
    .show-for-large-down,
    .show-for-tablet,
    .show-for-tablet-down,
    .show-for-medium-down,
    .show-for-medium,
    .show-for-tablet-up,
    .show-for-medium-up{
      @include _visibility-display();
    }

    .show-for-desktop,
    .show-for-x-large,
    .show-for-large{
      display: none !important;
    }

    .hide-for-tablet,
    .hide-for-medium,
    .hide-for-tablet-up,
    .hide-for-medium-up,
    .hide-for-tablet-down,
    .hide-for-medium-down,{
      display:none !important;
    }
    .hide-for-desktop,
    .hide-for-x-large,
    .hide-for-large{
      @include _visibility-display();
    }
    .show-for-touch{
      display: initial !important;
    }
    .hide-for-touch{
      display: none !important;
    }
  }

  @include large-content(){
    .show-for-large,
    .show-for-large-down,
    .show-for-large-up{
      @include _visibility-display();
    }
  }

  @include x-large-content(){
    .show-for-x-large,
    .show-for-large-up,
    .hide-for-large-down{
      @include _visibility-display();
    }
    .show-for-large-down,
    .show-for-large{
      display:none !important;
    }
  }

  @include portrait-content(){
    .show-for-portrait,
    .hide-for-landscape{
      @include _visibility-display();
    }
    .show-for-landscape,
    .hide-for-portrait{
      display:none;
    }
  }
  @include landscape-content(){
    .show-for-portrait,
    .hide-for-landscape{
      display:none;
    }
    .show-for-landscape,
    .hide-for-portrait{
      @include _visibility-display();
    }
  }

}
